{{>navBar}}
<br>
<h2>Listado de productos</h2>

{{#if usuario}}
<p>Bienvenido {{usuario.nombre}}!</p>
{{/if}}

<ul>
    {{#each productos}}
        <li>{{title}}</li>
    {{/each}}
</ul>
<br>
<a href="/handlebars/chat">Ir al chat </a>