{{>navBar}}
<br>
<h2 class="homeTitle">Listado de productos</h2>

{{#if usuario}}
<p><strong>Bienvenido {{usuario.nombre}}!</strong></p>
{{/if}}

<ul class="homeUl">
    {{#each productos}}
        <li>{{title}}</li>
    {{/each}}
</ul>
<br>
<a href="/handlebars/chat">Ir al chat </a>