<h2>Listado de productos con PAGINACIÓN</h2>

<ul>
    {{#each payload}}
    <li>{{payload.title}}</li>

    {{/each}}
    <button>Agregar al Carrito</button>
</ul>
{{!-- <br>
<a href="./products?pagina=1">Pág. 1</a>

{{#if hasPrevPage}}
<a href="./products?pagina={{prevPage}}">Ant.</a>
{{/if}}

{{#if hasNextPage}}
<a href="./products?pagina={{nextPage}}">Sig.</a>
{{/if}}

<a href="./products?pagina={{totalPages}}">Ult. Pág.</a> --}}

<script>
    
</script>