{{>navBar}}
<br>
<h2>Registro de nuevos usuarios</h2>
<br>
<form action="/api/sessions/signUp" method="post">
<input type="text" name="nombre", placeholder="nombre">
<input type="text" name="apellido", placeholder="apellido">
<input type="number" name="edad", placeholder="edad">
<input type="email" name="email", placeholder="correo electrónico">
<input type="password" name="password", placeholder="contraseña">
<br>
<br>
<input type="submit", value="sign up">

</form>