<ul>
    <li>
        <a href="/">Home</a>
    </li>

    <li>
        <a href="/signUp">Sign up</a>
    </li>

    <li>
        <a href="/login">Login</a>
    </li>

    <li>
        <a href="/perfil">Perfil</a>
    </li>
        <li>
        <a href="/products">Productos</a>
    </li>

    <li>
        <a href="/api/sessions/logout">Logout</a>
    </li>

</ul>